*.a
*.la
*.lo
*.lai
*.o
*.so
*.class
.autotools
.*project
INSTALL
*.in
aclocal.m4
autom4te.cache/
.settings/
config.guess
config.sub
configure
install-sh
ltmain.sh
missing
config.log
config.status
libtool
Makefile
depcomp
.deps/
.libs/
compile
*.pyc
*.*~
libc/kernel/original
*.stamp
